<template>
  <q-page class="row full-width justify-around q-my-md" ref="content" id="page">
    <q-card
      v-for="inputField in inputFields"
      :key="inputField.organ"
      class="column col-sm-5 col-11 shadow-20 q-mb-md"
      style="border-radius: 20px;"
    >
      <q-card-section
        class="row full-width justify-center bg-primary text-white q-py-md text-capitalize"
        style="border-top-right-radius: 20px; border-top-left-radius: 20px"
      >{{ inputField.organ }}
      </q-card-section>
      <q-card-section>
        <ReportSection :input-fields="inputField.inputs"/>
      </q-card-section>
    </q-card>
    <q-page-sticky position="bottom-right" :offset="[15, 15]">
      <q-btn icon="fas fa-file-pdf" @click="createPDF" fab rounded color="red"/>
      <!--      <q-btn fab icon="remove_red_eye" color="accent" @click="dialog = true"/>-->
      <q-btn class="q-mx-md" icon="fas fa-server" @click="sendData" fab rounded color="blue"/>
    </q-page-sticky>
    <vue-html2pdf
      :show-layout="false"
      :enable-download="false"
      :preview-modal="true"
      :paginate-elements-by-height="1400"
      filename="hee hee"
      :pdf-quality="2"
      :manual-pagination="true"
      pdf-format="a4"
      pdf-orientation="portrait"
      pdf-content-width="800px"
      ref="html2Pdf"
    >
      <section slot="pdf-content" class="q-pt-md row justify-between">
        <!-- PDF Content Here -->
        <div v-for="organ in inputFields" class="col-6">
          <div class="text-bold text-blue-6  text-uppercase q-pl-md">
            {{ "Organ: " + organ.organ }}
          </div>
          <ReportSection class="q-pl-md"  :input-fields="organ.inputs"/>
        </div>
        <!--            <ReportSection  :input-fields="inputFields"/>-->

      </section>
      <!--          <ReportSection  :input-fields="inputFields"/>-->

      <!-- PDF Content Here -->
    </vue-html2pdf>
  </q-page>
</template>

<script>
  import {Notify} from "quasar";
  import axios from "axios";
  import {mapActions, mapGetters} from "vuex";
  import ReportSection from "../components/ReportSection";
  import jsPDF from "jspdf";
  import html2canvas from "html2canvas";
  import VueHtml2pdf from 'vue-html2pdf'

  export default {
    name: "FinalReport",
    components: {ReportSection, VueHtml2pdf},
    computed: {
      inputFields() {
        let fields = [];
        this.organs.forEach(organ => {
          fields.push({
            organ: organ,
            inputs: this.$store.getters[organ + this.formValue]
          });
        });
        return fields;
      }
    },
    data() {
      return {
        formValue: "/formValue",
        organs: [
          "liver",
          "cbd",
          "gallBladder",
          "spleen",
          "pancreas",
          "kidney",
          "urinaryTract",
          "prostate",
          "seminalVesicle",
          "vasculature",
          "abdominoPelvicCavity"
        ]
      };
    },

    methods: {
      ...mapActions('report', ['postData']),
      ...mapActions('patient', ['postPatientReport']),
      createPDF() {
        this.$refs.html2Pdf.generatePdf()
        // let pdfName = "final_report";
        // let doc = new jsPDF();
        // let report = "";
        // this.inputFields.forEach(inputField => {
        //   report += inputField.organ + "\n";
        //   inputField.inputs.forEach(inp => {
        //
        //   })
        // })
        // doc.text(report, 10, 10);
        // doc.save(pdfName + '.pdf');
      },

      sendData() {
        this.postPatientReport(this.inputFields).then(() => {
          this.$q.notify({
            message: "Report Successfully Sent!",
            type: "positive",
          });
        }).catch(() => {
          this.$q.notify({
            message: "Network Error!",
            type: "negative",
          });
        })
      }

      // let element = document.getElementById("page");
      // doc.addHTML(element, () => {
      //   doc.save(pdfName + '.pdf');
      // })
      // console.log(this.$refs.content.$el.innerHTML)
      // const contentHtml = this.$refs.content.$el.outerHTML;
      // // console.log(contentHtml)
      // doc.fromHTML(contentHtml, 15, 15, {
      //   width: 170
      // });
      // doc.text("Hello World", 10, 10);
      // doc.save(pdfName + '.pdf');

      // html2canvas(element, {
      //   onrendered: function(canvas) {
      //     console.log("here");
      //     let imgData = canvas.toDataURL(
      //       'image/png');
      //     let doc = new jsPDF('p', 'mm');
      //     doc.addImage(imgData, 'PNG', 10, 10);
      //     doc.save(pdfName);
      //   }
      // });
    },

    recursiveCall(id, currentNode) {
      let i,
        currentChild,
        result
      if (id === currentNode.id) {
        return currentNode
      } else {
        if (currentNode.type === 'checkbox') {
          for (let j = 0; currentNode.children && j < currentNode.children.length; ++j) {
            result = recursiveCall(id, currentNode.children[j])
            // Return the result if the node has been found
            if (result !== null) {
              return result
            }
          }

        } else if (currentNode.type === 'option') {
          for (i = 0; currentNode.options && i < currentNode.options.length; i += 1) {
            let j
            for (j = 0; currentNode.options[i].children && j < currentNode.options[i].children.length; ++j) {
              result = recursiveCall(id, currentNode.options[i].children[j])
              // Return the result if the node has been found
              if (result !== null) {
                return result
              }
            }
          }
        }


        // Use a for loop instead of forEach to avoid nested functions
        // Otherwise "return" will not work properly

        // The node has not been found and we have no more options
        return null
      }
    },



    findValue(node) {
      let val = {
        label: node.label,
        input: node.input,
        id: node.id,
        type: node.type,
      }
      if (val.type === 'option') {
        val.children = []
        for (let i = 0; i < node.options.length; ++i) {
          if (node.options[i].value === val.input) {
            if ('children' in node.options[i]) {
              for (let j = 0; j < node.options[i].children.length; ++j) {
                val.children.push(findValue(node.options[i].children[j]))
              }
            }
            break;
          }
        }
      } else if ('children' in node && val.type === 'checkbox') {
        val.children = []
        for (let i = 0; i < node.children.length; ++i) {
          val.children.push(findValue(node.children[i]))
        }
      }
      return val
    },

    sendServer() {
      this.$q.notify({
        type: "info",
        message: "Start sending report to sever ..."
      });
      axios
        .post("http://localhost:3000/api/v1/report", this.formValue)
        .then(response => {
          this.$q.notify({
            type: "positive",
            message: "Post Request Successful"
          });
        })
        .catch(error => {
          this.$q.notify({
            type: "negative",
            message: "Post Request Failed"
          });
        });
    }
  };
</script>

<style>
</style>
