<template>
  <q-page class="column justify-center items-center"  style="height: 95vh">
    <div class="text-h6">
      Structured Reporting Demo
    </div>
    <q-btn color="dark" label="Start Reporting" class="q-px-md q-mt-md text-white" rounded @click="routeTo" />
  </q-page>
</template>

<script>
  import PatientInfo from "../components/PatientInfo";
  import PageHeader from "../components/PageHeader";
  export default {
    name: 'PageIndex',
    components: {},
    data() {
      return {

      }
    },

    methods: {
      routeTo() {
        this.$router.push({name: "PatientInfo"})
      }
    }
  }
</script>
