<template>
  <PatientsPage />
</template>

<script>
  import PatientInfo from "../components/PatientInfo";
  import PageHeader from "../components/PageHeader";
  import PatientsPage from "pages/PatientsPage";
  export default {
    name: 'PageIndex',
    components: {PatientsPage},
    data() {
      return {

      }
    },

    methods: {
      routeTo() {
        this.$router.push({name: "PatientInfo"})
      }
    }
  }
</script>
