<template>
  <q-page class="row justify-around items-baseline q-my-md full-width">
   <q-card class=" column shadow-20 q-pa-md" style="border-radius: 20px; width: 95%">
     <div class="q-pa-md">
       <q-item-section v-for="inputField in inputFields" :key="inputField.id" class="full-width q-pb-md" :class="'col-' + inputField.colValue" style="border-radius: 20px">
         <CustomInputField :input-field="inputField" :find-node-func="findNode"/>
       </q-item-section>
     </div>
   </q-card>

    <!-- <q-card  class="row shadow-20 items-baseline full-width q-mb-md"> -->
<!--      <div class="row  justify-center bg-black text-white q-py-sm text-capitalize" style="border-top-right-radius: 20px; border-top-left-radius: 20px">-->
<!--        {{ inputField.label }}-->
<!--      </div>-->
      <!-- <div v-for="inputField in inputFields" :key="inputField.id" class=" q-mb-md bg-grey-2 col-12" :class="'col-' + inputField.colValue" style="border-radius: 20px">
        <q-item-section class="row q-pb-md q-mx-sm" style="border-radius: 20px">
          <CustomInputFieldLiver :input-field="inputField" :find-node-func="findNode"/>
        </q-item-section>
      </div>
    </q-card> -->



    <q-dialog
      v-model="dialog"
      persistent
      :maximized="maximizedToggle"
      transition-show="slide-up"
      transition-hide="slide-down"
    >
      <q-card class="bg-primary text-white">
        <q-bar>
          <q-space/>

          <q-btn dense flat icon="minimize" @click="maximizedToggle = false" :disable="!maximizedToggle">
            <q-tooltip v-if="maximizedToggle" content-class="bg-white text-primary">Minimize</q-tooltip>
          </q-btn>
          <q-btn dense flat icon="crop_square" @click="maximizedToggle = true" :disable="maximizedToggle">
            <q-tooltip v-if="!maximizedToggle" content-class="bg-white text-primary">Maximize</q-tooltip>
          </q-btn>
          <q-btn dense flat icon="close" v-close-popup>
            <q-tooltip content-class="bg-white text-primary">Close</q-tooltip>
          </q-btn>
        </q-bar>

        <q-card-section>
          <div class="text-h6">Kidney Report</div>
        </q-card-section>

        <ReportSection :input-fields="inputFields"/>
      </q-card>
    </q-dialog>
    <q-page-sticky position="bottom-right" :offset="[15, 15]">
<!--      <download-excel-->
<!--        :data="inputFields"-->
<!--        type="csv"-->
<!--        :fields="fields"-->
<!--      >-->
<!--        <q-btn fab icon="fa fa-file-export" color="accent" />-->
<!--      </download-excel>-->
      <!--      <q-btn fab icon="remove_red_eye" color="accent" @click="dialog = true"/>-->
    </q-page-sticky>
    <q-page-sticky position="bottom-left" :offset="[15, 15]">
      <q-btn icon="fas fa-microphone" @click="voiceCommand" fab rounded color="red" />
      <!--      <q-btn fab icon="remove_red_eye" color="accent" @click="dialog = true"/>-->
    </q-page-sticky>
  </q-page>
</template>

<script>
  import {mapActions, mapGetters} from "vuex";
  import InputFieldSection from "../components/InputFieldSection";
  import ReportSection from '../components/ReportSection'
  import CustomInputField from "../components/CustomInputField";
  import Artyom from 'artyom.js';
  import CustomInputFieldLiver from "../components/CustomInputFieldLiver";

  export default {
    name: "LiverPage",
    components: {CustomInputFieldLiver, CustomInputField, ReportSection, InputFieldSection},
    computed: {
      ...mapGetters("liver", ["inputFields"])
    },
    data() {
      return {
        dialog: false,
        maximizedToggle: true,
        drawer: true,
        fields: {
          "id": "id",
          "label": "label",
          "input": "input"
        }
      }
    },

    methods: {
      ...mapActions("liver", ["findNode", "toggleCompleted"]),
      voiceCommand() {
        let artyom = new Artyom();

        // artyom.on(['hello', 'size'] ).then((i,wildcard) => {
        //   console.log(wildcard);
        //   // artyom.say("You've said : " + wildcard);
        // });
        let indexes = ["size", "parenchymal echogenicity", "SOL", "sign of space occupying lesion", "one", "two"];
        artyom.addCommands({
          //The smart property of the command needs to be true
          indexes: indexes,
          action: function(i){
            // Speak alterable value
          }});

        artyom.initialize({
          lang:"en-US",// More languages are documented in the library
          continuous:false,//if you have https connection, you can activate continuous mode
          soundex: true,
          debug:true,//Show everything in the console
          listen:true // Start listening when this function is triggered
        });
      }
    },

    mounted() {
      this.toggleCompleted().then(() => {

      })
    }
  }
</script>

<style scoped>

</style>
