<template>
  <q-page class="column full-height">
    <div v-if="!loading">
      <div class="column col-12 items-center q-mt-lg justify-center" >
        <div class="irBoldFont text-h5 q-my-md">Patient Reports</div>
        <q-separator color="primary" spaced style="width: 60%; height: 2px"/>
      </div>
      <div class="col-12 row justify-center q-my-xl">
        <q-card style="width: 700px; max-width: 90vw;border-radius: 20px" v-if="patientReports.length !== 0"
                class="shadow-8 card_bg">
          <q-virtual-scroll style="max-height: 500px;"
                            :items="patientReports"
                            separator>
            <template v-slot="{item}">
              <q-item clickable v-ripple
                      @click="setReportAndRouteTo('SingleReport', item)"
                      class="rounded-borders q-px-md">
                <q-item-section class="q-py-md text-capitalize">{{"Report " + (patientReports.indexOf(item) + 1)}}</q-item-section>
              </q-item>
            </template>
          </q-virtual-scroll>
          <div class="row col-12 justify-center q-mb-md">
            <q-btn type="submit" label="Add New Report" class="bg-secondary text-white q-px-md " @click="routeTo('Liver')"></q-btn>
          </div>
        </q-card>
        <div v-else>
          <EmptyState label="No Reports Available!"/>
          <div class="row col-12 justify-center q-mb-md">
            <q-btn type="submit" label="Add New Report" class="bg-secondary text-white q-px-md " @click="routeTo('Liver')"></q-btn>
          </div>
        </div>
      </div>
    </div>
    <LoadingCircle v-else/>
  </q-page>
</template>

<script>
  import {mapActions, mapGetters} from "vuex";
  import LoadingCircle from "components/LoadingCircle";
  import EmptyState from "components/EmptyState";

  export default {
    name: "PatientReportsPage",
    components: {EmptyState, LoadingCircle},
    props: ["id"],
    computed: {
      ...mapGetters('patient', ["patientReports", "patientId", "patientReports"])

    },

    methods: {
      ...mapActions('patient', ["getPatientReports"]),

      setReportAndRouteTo(routeName, reportId) {
        this.$router.push({name: routeName, params: {id: reportId}})
      },

      routeTo(routeName) {
        this.$router.push({name: routeName});
      }
    },

    data() {
      return {
        loading: false,
      }
    },

    mounted() {
      let paramPatientId = this.$route.params.id;
      this.loading = true;
      this.getPatientReports(paramPatientId).then(() => {

      }).finally(() => {
        this.loading = false;
      })
    }
  }
</script>

<style scoped>

</style>
