<template>
  <q-page class="column full-height">
    <div v-if="!loading">
      <div class="column col-12 items-center q-mt-lg justify-center" >
        <div class="irBoldFont text-h5 q-my-md">Registered Patients</div>
        <q-separator color="primary" spaced style="width: 60%; height: 2px"/>
      </div>
      <div class="col-12 column justify-center items-center q-my-xl">
        <q-card style="width: 800px; max-width: 90vw;border-radius: 20px" v-if="patients.length !== 0"
                class="shadow-8 card_bg">
          <q-virtual-scroll
                            :items="patients"
                            separator>
            <template v-slot="{item}">
              <q-item clickable v-ripple
                      @click="setIdAndRouteTo('PatientReports', item['_id'], item['gender'])"
                      class="rounded-borders q-px-md">
                <q-item-section class="q-py-md text-capitalize">{{item.firstName + " " + item.lastName}}</q-item-section>
                <q-item-section side class="q-py-md text-capitalize">{{item.gender + " " + item.age}}</q-item-section>

              </q-item>
            </template>
          </q-virtual-scroll>

          <div class="row col-12 justify-center q-mb-md">
            <q-btn type="submit" label="Add New Patient" class="bg-secondary text-white q-px-md " @click="routeTo('PatientInfo')"></q-btn>
          </div>
        </q-card>
        <div class="row justify-center items-center" v-else>
          <EmptyState label="No Patients Available!"/>
          <q-btn type="submit" label="Add New Patient" class="bg-secondary text-white q-px-md " @click="routeTo('PatientInfo')"></q-btn>
        </div>

      </div>

    </div>
    <LoadingCircle v-else/>
  </q-page>
</template>

<script>
  import EmptyState from "components/EmptyState";
  import {mapActions, mapGetters} from "vuex";
  import LoadingCircle from "components/LoadingCircle";
  export default {
    name: "PatientsPage",
    components: {LoadingCircle, EmptyState},
    computed: {
      ...mapGetters('patient', ["patients"]),
    },

    data() {
      return {
        loading: false,
      }
    },


    methods: {
      ...mapActions('patient', ["getAllPatients", 'setPatientInfo']),

      setIdAndRouteTo(routeName, patientId, patientGender) {
        let info = {
          id: patientId,
          gender: patientGender,
        }
        this.setPatientInfo(info).then(() => {
          this.$router.push({name: routeName, params: {id: patientId}})
        })
      },

      routeTo(routeName) {
        this.$router.push({name: routeName});

      }
    },

    mounted() {
      this.loading = true
      this.getAllPatients().then(() => {

      }).finally(() => {
        this.loading = false;
      })
    }
  }
</script>

<style scoped>

</style>
