<template>
  <q-page class="flex flex-center">
    <q-card class=" column shadow-20 q-pa-md q-my-md" style="border-radius: 20px; width: 80%">
      <PageHeader title="Patient Info"/>
      <PatientInfo/>
    </q-card>
  </q-page>
</template>

<script>
  import PageHeader from "../components/PageHeader";
  import PatientInfo from "../components/PatientInfo";

  export default {
    name: "PatientInfoPage",
    components: {PatientInfo, PageHeader}
  }
</script>

<style scoped>

</style>
