<template>
  <q-page class="row full-width justify-around q-my-md" ref="content" id="page">
    <ReportIndicator :input-fields="currentReport" />
  </q-page>
</template>

<script>
  import {mapActions, mapGetters} from "vuex";
  import ReportIndicator from "components/ReportIndicator";


  export default {
    name: "SingleReportPage",
    components: {ReportIndicator},
    computed: {
      ...mapGetters('patient', ["currentReport"])
    },

    data() {
      return {
        loading: false,
      }
    },

    methods: {
      ...mapActions('patient', ["getSingleReport"]),

    },

    mounted() {
      this.loading = true;
      let reportId = this.$route.params.id;
      this.getSingleReport(reportId).then(() => {

      }).finally(() => {
        this.loading = false;
      })
    }
  }
</script>

<style scoped>

</style>
