<template>
  <q-page class="flex flex-center q-my-md">
    <q-card class=" column shadow-20 q-pa-md " style="border-radius: 20px; width: 95%">
      <div class="q-pa-md">
        <q-item-section v-for="inputField in inputFields" :key="inputField.id" class="full-width q-pb-md"
                        :class="'col-' + inputField.colValue"
                        style="border-radius: 20px">
          <CustomInputField :input-field="inputField" :find-node-func="findNode"/>
        </q-item-section>
      </div>
    </q-card>

    <!-- <q-card  class="row shadow-20 items-baseline full-width q-mb-md"> -->
    <!--      <div class="row  justify-center bg-black text-white q-py-sm text-capitalize" style="border-top-right-radius: 20px; border-top-left-radius: 20px">-->
    <!--        {{ inputField.label }}-->
    <!--      </div>-->
    <!-- <div v-for="inputField in inputFields" :key="inputField.id" class=" q-mb-md bg-grey-2" :class="'col-' + inputField.colValue" style="border-radius: 20px">
      <q-item-section class="row q-pb-md q-mx-sm" style="border-radius: 20px">
        <CustomInputFieldLiver :input-field="inputField" :find-node-func="findNode"/>
      </q-item-section>
    </div>
  </q-card> -->

    <q-dialog
      v-model="dialog"
      persistent
      :maximized="maximizedToggle"
      transition-show="slide-up"
      transition-hide="slide-down"
    >
      <q-card class="bg-primary text-white">
        <q-bar>
          <q-space/>

          <q-btn dense flat icon="minimize" @click="maximizedToggle = false" :disable="!maximizedToggle">
            <q-tooltip v-if="maximizedToggle" content-class="bg-white text-primary">Minimize</q-tooltip>
          </q-btn>
          <q-btn dense flat icon="crop_square" @click="maximizedToggle = true" :disable="maximizedToggle">
            <q-tooltip v-if="!maximizedToggle" content-class="bg-white text-primary">Maximize</q-tooltip>
          </q-btn>
          <q-btn dense flat icon="close" v-close-popup>
            <q-tooltip content-class="bg-white text-primary">Close</q-tooltip>
          </q-btn>
        </q-bar>

        <q-card-section>
          <div class="text-h6">Ovaries Report</div>
        </q-card-section>

        <ReportSection :input-fields="inputFields"/>
      </q-card>
    </q-dialog>
    <!--    <q-page-sticky position="bottom-right" :offset="[15, 15]">-->
    <!--      <q-btn fab icon="fa fa-file-export" color="accent" @click="showReport"/>-->
    <!--      &lt;!&ndash;      <q-btn fab icon="remove_red_eye" color="accent" @click="dialog = true"/>&ndash;&gt;-->
    <!--    </q-page-sticky>-->
  </q-page>
</template>

<script>
  import CustomInputFieldLiver from "../components/CustomInputFieldLiver";
  import CustomInputField from "../components/CustomInputField";
  import ReportSection from "../components/ReportSection";
  import InputFieldSection from "../components/InputFieldSection";
  import {mapActions, mapGetters} from "vuex";

  export default {
    name: "UreterPage",
    components: {
      CustomInputFieldLiver,
      CustomInputField,
      ReportSection,
      InputFieldSection
    },
    computed: {
      ...mapGetters('ureter', ['inputFields', 'formValue'])
    },
    data() {
      return {
        dialog: false,
        maximizedToggle: true,
        fields: {
          'id': 'id',
          'label': 'label',
          'input': 'input'
        }
      }
    },

    methods: {
      ...mapActions('ureter', ['findNode']),
      showReport() {
      }
    }
  }
</script>

<style scoped>

</style>
