<template>
  <div class="text-capitalize q-my-sm q-px-sm row" :class="'col-sm-' + (inputField.colValue ? inputField.colValue : '12')">
    <div v-if="inputField.type === 'text'" class="row justify-around col-12">
      <q-input outlined rounded class="q-mx-sm col-12"  :label="inputField.label" :value="inputField.input" @input="changeInput($event, inputField)"/>
    </div>
    <div v-else-if="inputField.type === 'option'" class="col-12">
      <div class="row justify-center bg-black text-white q-py-sm text-capitalize full-width" style="border-top-right-radius: 20px; border-top-left-radius: 20px">
        {{ inputField.label }}
      </div>
      <q-list v-if="inputField.multiple" bordered separator class="full-width text-capitalize">
        <div v-for="option in inputField.options" :key="option.id" class="">
          <q-item clickable v-ripple @click="changeInput(option, inputField)" :class="inputField.input.includes(option.value) ? 'bg-grey-8 text-white' : 'bg-grey-2'">
            <q-item-section>
              {{ option.value }}
            </q-item-section>
          </q-item>
          <div v-if="'children' in option && inputField.input.includes(option.value)">
            <CustomInputFieldLiver v-for="child in option.children" :input-field="child" :find-node-func="findNodeFunc" :key="child.id"/>
          </div>
        </div>
      </q-list>
      <q-list v-else bordered separator class="full-width text-capitalize">
        <div v-for="option in inputField.options" :key="option.id" class="full-width">
          <q-item clickable v-ripple @click="changeInput(option, inputField)" :class="inputField.input === option.value ? 'bg-grey-8 text-white' : 'bg-grey-2' ">
            <q-item-section>
              {{ option.value }}
            </q-item-section>
          </q-item>
          <div class="row" v-if="'children' in option && inputField.input === option.value">
            <CustomInputFieldLiver v-for="child in option.children" :input-field="child" :find-node-func="findNodeFunc" :key="child.id" class="col-6"/>
          </div>
        </div>
      </q-list>
<!--      <q-select v-if="!inputField.multiple" popup-content-class="text-capitalize" outlined rounded :label="inputField.label" options-selected-class="bg-grey text-white" :options="inputField.options" :value="inputField.input" behavior="menu" @input="changeInput($event, inputField)"/>-->
<!--      <q-select v-else map-options emit-value popup-content-class="text-capitalize" options-selected-class="bg-grey text-white" outlined rounded multiple :label="inputField.label" :options="inputField.options" :value="inputField.input" behavior="menu" @input="changeInput($event, inputField)" />-->
<!--      <div v-for="option in inputField.options" :key="option.id">-->
<!--        <div v-if="inputField.multiple">-->
<!--          <template v-if="'children' in option && inputField.input.includes(option.value)">-->
<!--            <CustomInputFieldLiver v-for="child in option.children" :input-field="child" :find-node-func="findNodeFunc" :key="child.id"/>-->
<!--          </template>-->
<!--        </div>-->
<!--        <div v-else>-->
<!--          <template v-if="'children' in option && inputField.input === option.value">-->
<!--            <CustomInputFieldLiver v-for="child in option.children" :input-field="child" :find-node-func="findNodeFunc" :key="child.id"/>-->
<!--          </template>-->
<!--        </div>-->
<!--      </div>-->
    </div>
    <div v-else-if="inputField.type === 'checkbox'" class="full-width row">
      <div class="full-width">
        <div>
          <q-checkbox :label="inputField.label" @input="changeInput(!inputField.input, inputField)" color="dark" :value="inputField.input"/>
        </div>
        <div class="row q-mx-sm"  v-if="'children' in inputField && inputField.input === true">
          <CustomInputFieldLiver v-for="child in inputField.children" :input-field="child" :find-node-func="findNodeFunc" :key="child.id"/>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import {mapActions} from "vuex";

  export default {
    name: "CustomInputFieldLiver",
    props: ['inputField', 'findNodeFunc'],
    data() {
      return {

      }
    },
    methods: {
      changeInput(event, currentNode) {
        if (currentNode.type === "text") {
          this.findNodeFunc({
            value: event,
            id: currentNode.id,
          }).then(() => {

          })
        } else if (currentNode.type === "checkbox") {
          this.findNodeFunc({
            value: event,
            id: currentNode.id,
          }).then(() => {

          })
        }
        else {
          if (currentNode.multiple) {
            let inputs = [...currentNode.input];
            let index = inputs.indexOf(event.value);
            if (index === -1) {
              inputs.push(event.value)
            } else {
              inputs.splice(index, 1)
            }
            this.findNodeFunc({
              value: inputs,
              id: currentNode.id,
            }).then(() => {

            })
          }
          else {
            this.findNodeFunc({
              value: event.value,
              id: currentNode.id,
            }).then(() => {

            })
          }
        }
      }
    }
  }
</script>

<style scoped>

</style>
