<template>
  <div class="text-capitalize q-ml-md q-my-sm">
    <div class="text-subtitle1 text-bold" v-if="inputField.input !== '' && inputField.input.length !== 0">
      <div v-if="inputField.type === 'checkbox'">
        <div v-if="inputField.label.includes('CT') || inputField.label.includes('correlation')">
          <div v-if="inputField.input">
            {{ indent + ' ' + inputField.label}}: {{'Positive'}}
          </div>
        </div>
        <div v-else>
          {{ indent + ' ' + inputField.label}}: {{inputField.input ? 'Positive' : 'Negative'}}
        </div>
      </div>
      <div v-else>
        {{ indent + ' ' + inputField.label}}: {{inputField.input}}
      </div>
    </div>
    <template v-if="inputField.type === 'option'">
      <template v-if="'children' in inputField">
        <CustomReportItem v-for="child in inputField.children" indent="-" :input-field="child" :key="child.id"/>
      </template>
    </template>
    <template v-else-if="inputField.type === 'checkbox'">
      <template v-if="'children' in inputField && inputField.input === true">
        <CustomReportItem v-for="child in inputField.children" indent="-" :input-field="child" :key="child.id"/>
      </template>
    </template>
  </div>
</template>

<script>
  export default {
    name: 'CustomReportItem',
    props: ['inputField', 'indent']
  }
</script>

<style scoped>

</style>
