<template>
  <div class="text-capitalize q-ml-md q-my-sm" :class="'col-sm-' + (inputField.colValue ? inputField.colValue : '12')">
    <q-input outlined rounded v-if="inputField.type === 'text'" :label="inputField.label" :value="inputField.input" @input="changeInput($event, inputField)"/>
    <template v-else-if="inputField.type === 'option'">
      <q-select v-if="!inputField.multiple" popup-content-class="text-capitalize" outlined rounded :label="inputField.label" options-selected-class="bg-grey text-white" :options="inputField.options" :value="inputField.input" behavior="menu" @input="changeInput($event, inputField)"/>
      <q-select v-else map-options emit-value popup-content-class="text-capitalize" options-selected-class="bg-grey text-white" outlined rounded multiple :label="inputField.label" :options="inputField.options" :value="inputField.input" behavior="menu" @input="changeInput($event, inputField)" />
      <div v-for="option in inputField.options" :key="option.id">
        <div v-if="inputField.multiple">
          <template v-if="'children' in option && inputField.input.includes(option.value)">
            <CustomInputField v-for="child in option.children" :input-field="child" :find-node-func="findNodeFunc" :key="child.id"/>
          </template>
        </div>
        <div v-else>
          <template v-if="'children' in option && inputField.input === option.value">
            <CustomInputField v-for="child in option.children" :input-field="child" :find-node-func="findNodeFunc" :key="child.id"/>
          </template>
        </div>
      </div>
    </template>
    <template v-else-if="inputField.type === 'checkbox'">
      <q-checkbox dense :label="inputField.label" @input="changeInput($event, inputField)" :value="inputField.input"/>
      <template v-if="'children' in inputField && inputField.input === true">
        <CustomInputField v-for="child in inputField.children" :input-field="child" :find-node-func="findNodeFunc" :key="child.id"/>
      </template>
    </template>
  </div>
</template>

<script>
  import {mapActions} from "vuex";

  export default {
    name: "CustomInputField",
    props: ['inputField', 'findNodeFunc'],
    data() {
      return {
        mult: []
      }
    },
    methods: {
      changeInput(event, currentNode) {
        if (currentNode.type === "text") {
          this.findNodeFunc({
            value: event,
            id: currentNode.id,
          }).then(() => {

          })
        } else if (currentNode.type === "checkbox") {
          this.findNodeFunc({
            value: event,
            id: currentNode.id,
          }).then(() => {

          })
        }
        else {
          if (currentNode.multiple) {
            this.findNodeFunc({
              value: event,
              id: currentNode.id,
            }).then(() => {

            })
          }
          else {
            this.findNodeFunc({
              value: event.value,
              id: currentNode.id,
            }).then(() => {

            })
          }
        }

        // window.scrollBy(0,50); // horizontal and vertical scroll increments
        // this.scrollDelay = setTimeout('this.changeInput()',1000);
      },
    }
  }
</script>

<style scoped>

</style>
