<template>
  <div class="text-capitalize q-ml-md q-my-sm">
    <q-input outlined rounded v-if="inputField.type === 'text'" :label="inputField.label" :value="inputField.input" @input="changeInput($event, inputField)"/>
    <template v-else-if="inputField.type === 'option'">
      <q-select v-if="!inputField.multiple" popup-content-class="text-capitalize" outlined rounded :label="inputField.label" options-selected-class="bg-grey text-white" :options="inputField.options" :value="inputField.input" behavior="menu" @input="changeInput($event, inputField)"/>
      <q-select v-else map-options emit-value popup-content-class="text-capitalize" options-selected-class="bg-grey text-white" outlined rounded multiple :label="inputField.label" :options="inputField.options" :value="inputField.input" behavior="menu" @input="changeInput($event, inputField)" />
      <div v-for="option in inputField.options" :key="option.id">
        <div v-if="inputField.multiple">
          <template v-if="'children' in option && inputField.input.includes(option.value)">
            <CustomInputFieldBladder v-for="child in option.children" :input-field="child" :find-node-func="findNodeFunc" :key="child.id"/>
          </template>
        </div>
        <div v-else>
          <template v-if="'children' in option && inputField.input === option.value">
            <CustomInputFieldBladder v-for="child in option.children" :input-field="child" :find-node-func="findNodeFunc" :key="child.id"/>
          </template>
        </div>
      </div>
    </template>
    <template v-else-if="inputField.type === 'checkbox'">
      <q-checkbox dense v-if="inputField.label === 'Ureter' || inputField.label === 'Contains Foley Catheter'" :label="inputField.label" @input="changeInput($event, inputField)" color="dark" :value="inputField.input"/>
      <q-checkbox dense v-else :disable="disabled" :label="inputField.label" @input="changeInput($event, inputField)" color="dark" :value="inputField.input"/>
      <template v-if="'children' in inputField && inputField.input === true">
        <CustomInputFieldBladder  v-for="child in inputField.children" :input-field="child" :find-node-func="findNodeFunc" :key="child.id"/>
      </template>
    </template>
  </div>
</template>

<script>
  import {mapActions, mapGetters} from "vuex";

  export default {
    name: "CustomInputFieldBladder",
    props: ['inputField', 'findNodeFunc'],
    computed: {
      ...mapGetters("urinaryTract", ["disabled"]),
    },
    data() {
      return {

      }
    },
    methods: {
      ...mapActions("urinaryTract", ["toggleDisabled"]),
      changeInput(event, currentNode) {
        let disabled = (currentNode.label === "Contains Foley Catheter" && event === true) || (currentNode.label === "Distension" && event.value === "Empty")
        if (currentNode.label === "Contains Foley Catheter" || currentNode.label === "Distension") {
          this.toggleDisabled(disabled).then(() => {

          })
        }

        if (currentNode.type === "text") {
          this.findNodeFunc({
            value: event,
            id: currentNode.id,
          }).then(() => {

          })
        } else if (currentNode.type === "checkbox") {

          this.findNodeFunc({
            value: event,
            id: currentNode.id,
          }).then(() => {

          })
        }
        else {
          if (currentNode.multiple) {
            this.findNodeFunc({
              value: event,
              id: currentNode.id,
            }).then(() => {

            })
          }
          else {
            this.findNodeFunc({
              value: event.value,
              id: currentNode.id,
            }).then(() => {

            })
          }
        }
      }
    }
  }
</script>

<style scoped>

</style>
