<template>
  <div class=" column items-center justify-center text-grey-8">
    <q-icon :name="icon" size="200px" v-if="icon"></q-icon>
    <p class="text-faded irFont q-my-xl text-h4 text-weight-light text-center">
      {{label}}
    </p>
  </div>
</template>

<script>
  export default {
    name: "EmptyState",
    props: ['icon', 'label']
  }
</script>

<style scoped>

</style>
