<template>
  <div class="q-pa-md">
    <q-item-section v-for="inputField in inputFields" :key="inputField.id" class="full-width q-pb-md" style="border-radius: 20px">
     <CustomInputField :input-field="inputField" :organ="organ"/>
    </q-item-section>
  </div>
</template>

<script>
import { mapActions } from 'vuex'
import CustomInputField from "./CustomInputField";

export default {
  name: 'InputFieldSection',
  components: {CustomInputField},
  props: ['inputFields', 'organ'],
  data () {
    return {
      inp: '',
      selectedOrgan: '',
      textFields: []
    }
  },
  methods: {
    ...mapActions('liver', ['updateLiverValue', 'checkForMoreOptions']),
    ...mapActions('prostate', ['updateProstateValue', 'checkForMoreOptions']),
    ...mapActions('gallBladder', ['updateGallBladderValue', 'checkForMoreOptions']),
    ...mapActions('cbd', ['updateCbdValue', 'checkForMoreOptions']),
    ...mapActions('vasculature', ['updateVasculatureValue', 'checkForMoreOptions']),
    ...mapActions('spleen', ['updateSpleenValue', 'checkForMoreOptions']),
    changeValue (event, field) {
      if (this.organ === 'liver') {
        this.updateLiverValue({
          field: field,
          selected: event
        })
      } else if (this.organ === 'prostate') {
        this.updateProstateValue({
          field: field,
          selected: event
        })
      } else if (this.organ === 'gallBladder') {
        this.updateGallBladderValue({
          field: field,
          selected: event
        })
      } else if (this.organ === 'cbd') {
        this.updateCbdValue({
          field: field,
          selected: event
        })
      } else if (this.organ === 'vasculature') {
        this.updateVasculatureValue({
          field: field,
          selected: event
        })
      } else if (this.organ === 'spleen') {
        this.updateSpleenValue({
          field: field,
          selected: event
        })
      }
    },

    hasMoreOptions (field) {
      this.checkForMoreOptions(field).then((resp) => {
        this.textFields = resp
      })
      return this.textFields.length > 0
    }
  },

  mounted () {
    this.selectedOrgan = this.organ
  }

}
</script>

<style scoped>

</style>
