<template>
  <div class="row justify-center items-center full-width" style="height: 90vh">
    <q-spinner
      color="primary"
      size="3em"
      :thickness="3"
    />
  </div>
</template>

<script>
  export default {
    name: "LoadingCircle"
  }
</script>

<style scoped>

</style>
