<template>
  <div class="column col-12 items-center justify-center">
    <div class="irBoldFont text-h5 q-my-lg">{{title}}</div>
    <q-separator color="primary" spaced style="width: 60%; height: 2px"/>
  </div>
</template>

<script>
  export default {
    name: "PageHeader",
    props: ['title']
  }
</script>

<style scoped>

</style>
