<template>
  <q-form @submit="createPatient" id="patientInfoForm">
    <q-card-section class="row justify-between">
      <q-input rounded outlined label="First Name" clearable class="col-sm-5 col-12 q-my-md" :rules="rules"
               v-model="info['firstName']" @input="changeValue($event, 'firstName')"/>
      <q-input rounded outlined label="Last Name" clearable class="col-sm-5 col-12 q-my-md"
               v-model="info['lastName']"
               :rules="rules" @input="changeValue($event, 'lastName')"/>
      <q-input rounded outlined label="Phone Number" type="number" clearable class="col-sm-5 col-12 q-my-md"
               v-model="info['phoneNumber']" :rules="rules" @input="changeValue($event, 'phoneNumber')"/>
      <q-input rounded outlined label="National Code" clearable class="col-sm-5 col-12 q-my-md"
               v-model="info['nationalCode']" :rules="rules" @input="changeValue($event, 'nationalCode')"/>
      <q-input rounded outlined type="number" clearable label="Age" class="col-sm-5 col-12 q-my-md"
               v-model="info['age']" :rules="rules" @input="changeValue($event, 'age')"/>
      <q-select rounded outlined label="Gender" class="col-sm-5 col-12 q-my-md text-capitalize"
                options-selected-class="bg-grey text-white" :value="info['gender']" :options="genderOptions"
                :rules="rules" @input="changeValue($event, 'gender')" behavior="menu">
        <template v-slot:append>
          <q-icon name="close" @click.stop="changeValue($event, 'gender')" class="cursor-pointer"/>
        </template>
      </q-select>
      <div class="row col-12 justify-center">
        <q-btn type="submit" label="Create Patient" :loading="loading" class="bg-secondary text-white q-px-md "></q-btn>
      </div>
    </q-card-section>
  </q-form>

</template>

<script>
  import {mapActions, mapGetters} from "vuex";

  export default {
    name: "PatientInfo",
    computed: {
      ...mapGetters("patient", ["patientInfo"])
    },
    data() {
      return {
        info: {
          firstName: "",
          lastName: "",
          phoneNumber: "",
          nationalCode: "",
          age: "",
          gender: "male",
        },
        loading: false,
        rules: [val => val && val.length > 0 || 'required'],
        genderOptions: [
          {
            label: "Male",
            value: "male",
          },
          {
            label: "Female",
            value: "female",
          },
          {
            label: "Other",
            value: "other",
          }
        ]
      }
    },

    methods: {
      ...mapActions("patient", ["updateValue", "postPatientInfo"]),
      changeValue(event, field) {
        if (field === "gender") {
          if (event.value === undefined) {
            event.value = 'male';
            this.info['gender'] = 'male';
          } else {
            this.info['gender'] = event.value;
            this.updateValue({
              value: event.value,
              field: field,
            });
          }
        } else {
          this.updateValue({
            value: event,
            field: field,
          })
        }
      },

      createPatient() {
        this.loading = true;
        this.postPatientInfo(this.info).then(() => {
          this.$q.notify({
            message: "Patient Successfully Added!",
            type: "positive",
          });

          // document.getElementById("patientInfoForm").reset();
          // document.getElementById("patientInfoForm").value = "";
          this.$router.push({name: "Home"})
        }).catch(() => {
          this.$q.notify({
            message: "Network Error!",
            type: "negative",
          });
        })
          .finally(() => {
          this.loading = false;
        })
      }
    }
  }
</script>

<style scoped>

</style>
