<template>
  <div class="row full-width justify-around q-my-md">
    <q-card
      v-for="inputField in inputFields"
      :key="inputField.organ"
      class="column col-sm-5 col-11 shadow-20 q-mb-md"
      style="border-radius: 20px;"
    >
      <q-card-section
        class="row full-width justify-center bg-primary text-white q-py-md text-capitalize"
        style="border-top-right-radius: 20px; border-top-left-radius: 20px"
      >{{ inputField.organ }}
      </q-card-section>
      <q-card-section>
        <ReportSection :input-fields="inputField.inputs"/>
      </q-card-section>
    </q-card>
    <q-page-sticky position="bottom-right" :offset="[15, 15]">
      <q-btn icon="fas fa-file-pdf" @click="createPDF" fab rounded color="red"/>
      <!--      <q-btn fab icon="remove_red_eye" color="accent" @click="dialog = true"/>-->
      <!--    <q-btn class="q-mx-md" icon="fas fa-server" @click="sendData" fab rounded color="blue"/>-->
    </q-page-sticky>
    <vue-html2pdf
      :show-layout="false"
      :enable-download="false"
      :preview-modal="true"
      :paginate-elements-by-height="1400"
      filename="hee hee"
      :pdf-quality="2"
      :manual-pagination="true"
      pdf-format="a4"
      pdf-orientation="portrait"
      pdf-content-width="800px"
      ref="report2Pdf"
    >
      <section slot="pdf-content" class="q-pt-md row justify-between">
        <!-- PDF Content Here -->
        <div v-for="organ in inputFields" class="col-6">
          <div class="text-bold text-blue-6  text-uppercase q-pl-md">
            {{ "Organ: " + organ.organ }}
          </div>
          <ReportSection class="q-pl-md" :input-fields="organ.inputs"/>
        </div>
        <!--            <ReportSection  :input-fields="inputFields"/>-->

      </section>
      <!--          <ReportSection  :input-fields="inputFields"/>-->

      <!-- PDF Content Here -->
    </vue-html2pdf>
  </div>
</template>

<script>
  import ReportSection from "components/ReportSection";
  import VueHtml2pdf from 'vue-html2pdf'

  export default {
    name: "ReportIndicator",
    components: {ReportSection, VueHtml2pdf},
    props: ["inputFields"],
    methods: {
      createPDF() {
        this.$refs.report2Pdf.generatePdf()

      },
    }
  }
</script>

<style scoped>

</style>
