<template>
  <div class="q-pa-md">
    <q-item-section v-for="inputField in inputFields" :key="inputField.id" class="full-width q-pb-md" style="border-radius: 20px">
      <CustomReportItem indent="" :input-field="inputField"/>
    </q-item-section>
  </div>
</template>

<script>
  import CustomReportItem from './CustomReportItem'
  export default {
    name: 'ReportSection',
    components: { CustomReportItem },
    props: ['inputFields']
  }
</script>

<style scoped>

</style>
