<template>
  <q-layout view="lHr LpR lFf" style="overflow: hidden;">
    <q-header elevated class="bg-secondary">
      <q-toolbar>
        <q-toolbar-title @click="routeTo('Home')" class="cursor">
          Structured Reporting Demo
        </q-toolbar-title>
      </q-toolbar>
    </q-header>

    <q-drawer
      v-model="drawer"
      show-if-above
      :width="400"
      elevated
      side="right"
      content-class="bg-secondary"
      v-if="!nonOrganPage"
      :breakpoint="768"
    >
      <q-scroll-area
        style="height: calc(100% - 20px); margin-top: 20px" class="text-white">

        <ReportSection :input-fields="inputFields"/>
      </q-scroll-area>
    </q-drawer>

    <q-drawer
      v-model="drawer"
      v-if="showOrgansDrawer"
      show-if-above
      :width="200"
      elevated
      content-class="bg-secondary"
      :breakpoint="768"
    >
      <q-scroll-area
        style="height: calc(100% - 20px); margin-top: 20px">
        <q-list padding class="text-white ">
          <q-item v-for="menu in menuOptions"
                  :key="menu.label" v-if="menu.genders.includes(currentPatientGender)">
            <q-item clickable v-ripple
                    class="full-width rounded-borders"
                    exact
                    :to="menu.path"
                    v-if="!menu.multiple"
                    @click="setMenuOption(menu)"
                    active-class="bg-white text-primary rounded-borders">
              <q-item-section>
                {{menu.label }}
              </q-item-section>
              <q-icon v-if="menu.completed" name="check" color="grey" size="20px"/>
            </q-item>

            <!--            <q-expansion-item v-else-->
            <!--                              dark-->
            <!--                              class="full-width rounded-borders"-->
            <!--                              :label="menu.label">-->
            <!--              <q-item v-for="option in menu.options"-->
            <!--                      class="full-width rounded-borders"-->
            <!--                      :disable="option.disable"-->
            <!--                      exact-->
            <!--                      exact-active-class="bg-white"-->
            <!--                      active-class="bg-white text-primary rounded-borders"-->
            <!--                      :key="option.label" >-->
            <!--                <q-item-section>-->
            <!--                  {{option.label}}-->
            <!--                </q-item-section>-->
            <!--              </q-item>-->
            <!--            </q-expansion-item>-->
          </q-item>
        </q-list>

      </q-scroll-area>
    </q-drawer>

    <q-page-container>
      <vue-page-transition name="fade">
        <router-view/>
      </vue-page-transition>
    </q-page-container>

  </q-layout>
</template>

<script>

  import {mapGetters} from 'vuex'
  import ReportSection from '../components/ReportSection'

  export default {
    name: 'MainLayout',
    components: {ReportSection},
    computed: {
      ...mapGetters("patient", ["patientInfo", "currentPatientGender"]),
      inputFields() {
        console.log(this.$store.getters);
        return this.$store.getters[this.currentOption.storeName + '/formValue'];
      },
    },
    data() {
      return {
        drawer: true,
        currentOption: {},
        nonOrganPage: false,
        showOrgansDrawer: false,
        menuOptions: [
          // {
          //   label: 'Patient Info',
          //   path: { name: 'PatientInfo' },
          //   multiple: false,
          //   genders: ["male", "female", "other", ""]
          // },
          {
            label: 'Patients',
            path: {name: 'Home'},
            multiple: false,
            genders: ["male", "female", "other", ""]
          },
          {
            label: 'Liver',
            storeName: 'liver',
            path: {name: 'Liver'},
            multiple: false,
            genders: ["male", "female", "other"]
          },
          {
            label: 'CBD',
            storeName: 'cbd',
            path: {name: 'CBD'},
            multiple: false,
            genders: ["male", "female", "other"]
          },
          {
            label: 'Gall Bladder',
            storeName: 'gallBladder',
            path: {name: 'GallBladder'},
            multiple: false,
            genders: ["male", "female", "other"]
          },
          {
            label: 'Spleen',
            storeName: 'spleen',
            path: {name: 'Spleen'},
            multiple: false,
            genders: ["male", "female", "other"]
          },
          {
            label: 'Pancreas',
            storeName: 'pancreas',
            path: {name: 'Pancreas'},
            multiple: false,
            genders: ["male", "female", "other"]
          },
          {
            label: 'Kidney',
            storeName: 'kidney',
            path: {name: 'Kidney'},
            multiple: false,
            genders: ["male", "female", "other"]
          },
          {
            label: 'Urinary Bladder',
            storeName: 'urinaryBladder',
            path: {name: 'UrinaryBladder'},
            multiple: false,
            genders: ["male", "female", "other"]
          },
          {
            label: 'Ureter',
            storeName: 'ureter',
            path: {name: 'Ureter'},
            multiple: false,
            genders: ["male", "female", "other"]
          },

          {
            label: 'Prostate',
            storeName: 'prostate',
            path: {name: 'Prostate'},
            multiple: false,
            genders: ["male", "other"]
          },
          {
            label: 'Seminal Vesicle',
            storeName: 'seminalVesicle',
            path: {name: 'SeminalVesicle'},
            multiple: false,
            genders: ["male", "other"]
          },
          {
            label: 'Uterus',
            storeName: 'uterus',
            path: {name: 'Uterus'},
            multiple: false,
            genders: ["female", "other"]
          },

          {
            label: 'Ovaries',
            storeName: 'ovaries',
            path: {name: 'Ovaries'},
            multiple: false,
            genders: ["female", "other"]
          },
          {
            label: 'Vasculature',
            storeName: 'vasculature',
            path: {name: 'Vasculature'},
            multiple: false,
            genders: ["male", "female", "other"]
          },
          {
            label: 'Abdominopelvic Cavity',
            storeName: 'abdominoPelvicCavity',
            path: {name: 'AbdoCavity'},
            multiple: false,
            genders: ["male", "female", "other"]
          },
          {
            label: 'Final Report',
            path: {name: 'FinalReport'},
            multiple: false,
            genders: ["male", "female", "other", ""]
          }
        ]
      }
    },
    methods: {
      setMenuOption(menu) {
        this.currentOption = menu;
        menu.completed = true;
      },

      routeTo(path) {
        this.$router.push({name: path})
      }
    },

    beforeUpdate() {
      this.nonOrganPage = this.$router.currentRoute.name === "Home" || this.$router.currentRoute.name === "PatientInfo" || this.$router.currentRoute.name === "FinalReport" || this.$router.currentRoute.name === "SingleReport" || this.$router.currentRoute.name === "PatientReports";
      this.showOrgansDrawer = this.$router.currentRoute.name !== "Home" && this.$router.currentRoute.name !== "PatientInfo" && this.$router.currentRoute.name !== "Patients" && this.$router.currentRoute.name !== "SingleReport" && this.$router.currentRoute.name !== "PatientReports";
    },

    mounted() {
      this.setMenuOption(this.menuOptions[1]);
      this.nonOrganPage = this.$router.currentRoute.name === "Home" || this.$router.currentRoute.name === "PatientInfo" || this.$router.currentRoute.name === "FinalReport" || this.$router.currentRoute.name === "SingleReport" || this.$router.currentRoute.name === "PatientReports";
      this.showOrgansDrawer = this.$router.currentRoute.name !== "Home" && this.$router.currentRoute.name !== "PatientInfo" && this.$router.currentRoute.name !== "Patients" && this.$router.currentRoute.name !== "SingleReport" && this.$router.currentRoute.name !== "PatientReports";
    }
  }
</script>

<style>
  .gradient {
    background: #0f0c29; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #24243e, #302b63, #0f0c29); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

  html {
    overflow: scroll;
    overflow-x: hidden;
  }

  ::-webkit-scrollbar {
    width: 0px; /* Remove scrollbar space */
    background: transparent; /* Optional: just make scrollbar invisible */
  }

  /* Optional: show position indicator in red */
  ::-webkit-scrollbar-thumb {
    /*background: #FF0000;*/
  }
</style>
